tools/**
!tools/packages.config
!tools/Modules/packages.config
bin/
obj/
packages/
externals/
output/

*.xam
*.DS_Store
*.pidb
*.userprefs
*.dotSettings
*.suo
*.a
*.xcuserstate
*.xcuserstate

*.nuspec
!*.template.nuspec
*/nuget/*.targets
!obsolete.targets

Resource.designer.cs
component.yaml
GettingStarted.md
Details.md
generated.targets
.droidres
cake.sh
cake.sh.commit