tools/**
!tools/packages.config
bin/
obj/
packages/
externals/
output/

*.xam
*.DS_Store
*.pidb
*.user
*.userprefs
*.dotSettings
*.suo
*.a
*.xcuserstate
*.xcuserstate

*.nuspec
!*.template.nuspec
*/nuget/*.targets
!obsolete.targets

Resource.designer.cs
component.yaml
GettingStarted.md
Details.md
generated.targets
.droidres
.gradle
cake.sh
cake.sh.commit
/.vs
.vs/
tools/
.vscode/
generated
binderator
models.json
source/com.google.android.play/core.extensions/build
