trigger:
  - master
  - refs/tags/*

variables:
  BUILD_NUMBER: $(Build.BuildNumber)
  BUILD_COMMIT: $(Build.SourceVersion)
#   XAMARIN_ANDROID_PATH: <path to Xamarin.Android>

resources:
  repositories:
    - repository: internal-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
    - repository: components
      type: github
      name: xamarin/XamarinComponents
      endpoint: xamarin
      ref: refs/heads/dev/templating

jobs:
  - template: .ci/prepare.yml@components
    parameters:
      buildType: 'basic'
  - template: .ci/build.yml@components
    parameters:
      cakeTemplatesBranch: 'dev/templating'
      timeoutInMinutes: 180
      tools:
        - 'xamarin.androidbinderator.tool': '0.4.0'
        - 'xamarin.androidx.migration.tool': '1.0.0-preview03'
  - ${{ if eq(variables['System.TeamProject'], 'devdiv') }}:
    - template: sign-artifacts/jobs/v1.yml@internal-templates
      parameters:
        dependsOn: [ 'build' ]
